.encabezado_agregar_equipo{
    background-color: #1d0069; /* Cambia este color a tu preferido */
    color: white !important; /* Esto fuerza el color blanco */
}
.texto_encabeada_agregar_equipo{
    color: white;
}